header {
	background-color: #B64926;
	border-bottom: 5px solid #8E2800;
}

.h-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #FFF0A5;
}

nav a {
	text-decoration: none;
	color: #FFF0A5;
	
}

.logo-text {
	flex-direction: row;
}